.loginText{
    margin-left: -15px;
}


.sideText{
    color:#9e9ea3;
    font-size: small;
    font-weight: 500;
    margin-left: 0%;
}

.forgotPassText{
    color: #34caf0;
    font-weight: 600;
    font-size:smaller;
    margin-left: 12px;
}


